.searchIkona {
   font-size: 50px;
   margin-top: 20px;
   float: right;
}

.bar {
	height: 40px;
	background: #6fb6ed;
}

.h1-month, .h1-titles {
	font-size: 20px;
}

.input-b {
	display: inline;
	font-size:25px;
	outline: none;
	width: 85%;
	border: none;
}

.input-t{
	display: inline;
	font-size:25px;
	outline: none;
	width: 85%;
	border: none;
}

.input-f {
	font-size:25px;
	outline: none;
	width: 85%;
	border: none;
}

.div-col {
	height:40px;
	background-color:#ffffff;
}

.h1-day {
	font-size:25px;
	margin-top:5px;
}

.div-weather {
	height:94px;
}

.div-weather img {
	height: 85px;
}

.row-fix {
	height:40px;
}

#H2_date{
    padding-top:10px;
}
.events {
    border: 3px solid #6fb6ed;
    border-radius: 10px;
    box-shadow: 4px 4px lightblue;
}

@media (max-width: 991px) {

    .mdfix{
        border:100px;
        height: 20px !important;
    }
}

@media (max-width: 840px) {
    .details {
        border: 3px solid #6fb6ed;
        border-radius: 10px;
        box-shadow: 4px 4px lightblue;
        display: flex;
        flex-direction: row;
    }
}

.mdfix{
    height:40px;
    background-color:#ffffff;
}

.edit {
    border: 3px solid #7a7d82;
    border-radius: 10px;
    box-shadow: 4px 3px #abaeb2;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-120%);
    margin-top:3px;
}

.edit2 {
    border: 3px solid #7a7d82;
    border-radius: 10px;
    box-shadow: 3px 2px #abaeb2;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-120%);
    margin-top:4px;
}

.h2menu{
    width:85%;
}

.details {
    border: 3px solid #6fb6ed;
    border-radius: 10px;
    box-shadow: 4px 4px lightblue;
}

.bolded{
    font-weight: bold;
}
.delevent{
    border: 3px solid #f96161;
    border-radius: 10px;
    box-shadow: 4px 4px lightcoral;
}

.revent{
    margin-top:20px;
}
.reventdesc{
    border: 3px solid #6fb6ed;
    border-radius: 10px;
    box-shadow: 4px 4px lightblue;
    margin-top:20px;
}

.confirm-delete {
    border: 3px solid #f96161;
    border-radius: 10px;
    box-shadow: 4px 3px lightcoral;
    margin-top:3px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}

.save-changes {
    border: 3px solid #7a7d82;
    border-radius: 10px;
    box-shadow: 4px 3px #abaeb2;
    margin-top:3px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}

.d-fix {
	margin-top:15px;
}

.div-center-align {
    text-align:center;
}