.carousel-control.left,
.carousel-control.right {
  background: transparent !important;
}

body {
    border: 1px solid transparent;
}

.bar {
   height: 40px;
   background: #6fb6ed;
}

#description {
  resize: none !important;
    width: 100%;
    height: 200px !important;
}

.container#details{
	margin-top: 100px;
}

.container.comments {
	border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-top: 10px;
}

.container.comments:after {
	content: "";
	clear: both;
	display: table;
}



.usercomment {
	padding: 2px 2px 2px 2px;
	border: 3px solid #7a7d82;
	border-radius: 10px;
	margin-left: -15px;
	margin-top: 10px;
	display: inline-block;
	resize: none !important;
}

.allcomments2{
	overflow-y: auto;
	word-wrap: break-word;
	padding: 6px 6px 6px 6px;
	height: 110px;
}

.newarrival {
	background: green;
	width: 50px;
	color: white;
	font-size: 12px;
	font-weight: bold;
}

.checked {
	color: #FE980F;
}

.col-md-7 h2 {
	color: #555;
}

.price {
	color: #FE980F;
	font-size:26px;
	font-weight: bold;
	padding-top: 20px;
}

.cart {
	background: #FE980F !important;
	color: #FFFFFF !important;
	font-size: 15px;
	margin: 0;
}

.rateDescription {
	font-size: 1.2em;
}



.rating {
	/*padding-bottom:5px;
	border: 3px solid #7a7d82;
	border-radius: 10px;
	box-shadow: 3px 2px #abaeb2;
*/
	margin-top: 15px;
	font-size: 1.8em;
	display: inline-block;
	width: 100%;
  unicode-bidi: bidi-override;
  direction: rtl;
}


.rating > span {
	margin-top: 2px;
  display: inline-block;
  position: relative;
  width: 1.25em;
	color: #FE980F;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

#submitbutton {
	margin-top: 10px;
	width: 100%;
	margin-left: -10px;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}


