html, body {
	height: 100%;
}

body {
  font-size: 14px;
  line-height: 1.8;
  color: #222;
  font-weight: 400;
  font-family: 'Montserrat';
  background-image: url("../images/signup-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
   background-position: center;
}

.containerCustom {
    position:fixed;
    top: 50%;
    left: 50%;
	transform: translateY(-50%);
    width:30em;
    height:18em;
    margin-top: -3.69em;
    margin-left: -15em;
    background-color: #f3f3f3;
	border-radius: 10px;
	text-align: center;
}

.login-content {
  max-width: 600px;
  background: #fff;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  padding: 50px;
}

.btn-login {
	margin-top: 6px;
}

.form-title {
	text-align: center;
	margin-bottom: 16px; 
	margin-top: -25px;
	font-weight: bold;
}

.login {
  font-weight: 700;
  color: #222; 
}

.login-paragraph {
  text-align: center;
}

p {
  margin-bottom: 0px;
  font-size: 15px;
  color: #777; 
}

/* Osnovni styling form inputov */

.form-input {
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: #222; 
}
 
/* Nežna siva za vsebino v input fieldih */
 
.form-input::-webkit-input-placeholder {
    color: #999; 
}
.form-input::-moz-placeholder {
    color: #999; 
}
.form-input:-ms-input-placeholder {
    color: #999; 
}
.form-input:-moz-placeholder {
    color: #999; 
}

/* Siva za vsebino v input fieldih + moder border, ko je focus na njih */

.form-input:focus {
	  color: #222; 
	  border-color: black;
}

.form-input:focus::-webkit-input-placeholder {
      color: #222; 
	  border-color: black;
}
.form-input:focus::-moz-placeholder {
      color: #222;
	  border-color: black;
}
.form-input:focus:-ms-input-placeholder {
      color: #222; 
	  border-color: black;
}
.form-input:focus:-moz-placeholder {
      color: #222;
	  border-color: black;
}

.custom-button {
    border-radius: 10px;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.custom-button:hover {
    background-color: #555555;
    color: white;
}

.glyphicon {
	margin-top: 10px;
}